.navbar-desktop {
  display: flex;
  height: 4.5rem;
  position: fixed;
  align-items: center;
  padding: 2rem 3rem 1rem 3rem;
  width: 100%;
  z-index: 4;
  background-color: var(--bg-light-purple);
}

.container-full-space {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-full-space.right {
  justify-content: flex-end;
}

.logo-nav {
  width: 86px;
  height: fit-content;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
  transition: transform 0.1s ease;
}

.cart-icon {
  width: 24px;
  height: 24px;
  transition: all 0.5s ease;
}

.profile-image-sm {
  object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  overflow: hidden;
}

.navbar-desktop .icon:hover {
  transform: scale(1.2);
}

.container-gap-sm {
  display: flex;
  gap: 8px;
  align-items: center;
}

.gradient-text p {
  color: inherit;
}

.logo-container:hover {
  transform: scale(1.08);
}
