.nav-mobile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: fit-content;
}

.nav-slide.open {
  transform: translateX(0);
}

.hamburger-container {
  height: 100%;
  padding-left: 1rem;
}

.nav-slide {
  background-color: var(--bg-light-purple);
  padding: 64px 32px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  padding: 4rem 2.5rem;
  padding-bottom: 8rem;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  transition: 0.7s cubic-bezier(0.2, 1, 0.5, 1) transform;
  transform: translateX(100%);
  position: fixed;
  top: 0;
}

.user-container-nav-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 0.2rem;
}

.user-image-md {
  width: 50px;
}

.icons-container {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.icons-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Adjust height to match border thickness */
  background: var(--gradient-full-90);
}
.icons-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px; /* Adjust height to match border thickness */
  background: var(--gradient-full-90);
}

.container-nav-texts {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  font-weight: 400;
}

.nav-slide .logout {
  padding-top: auto;
  text-align: center;
}

.nav-slide .btn-signup-nav {
  padding: 10px 2rem;
}
