.navbar-desktop {
  display: flex;
  height: 4.5rem;
  position: fixed;
  align-items: center;
  padding: 2rem 3rem 1rem 3rem;
  width: 100%;
  z-index: 4;
  background-color: var(--bg-light-purple);
}

.container-full-space {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-full-space.right {
  justify-content: flex-end;
}

.logo-nav {
  width: 86px;
  height: fit-content;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
  transition: transform 0.1s ease;
}

.cart-icon {
  width: 24px;
  height: 24px;
  transition: all 0.5s ease;
}

.profile-image-sm {
  object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  overflow: hidden;
}

.navbar-desktop .icon:hover {
  transform: scale(1.2);
}

.container-gap-sm {
  display: flex;
  gap: 8px;
  align-items: center;
}

.gradient-text p {
  color: inherit;
}

.logo-container:hover {
  transform: scale(1.08);
}

.notify-circle {
  width: 6px;
  height: 6px;
  position: relative;
  top: 0;
  right: -1px;
  background-color: var(--barbi-pink);
  border-radius: 8px;
  display: none;
}

.notify-circle.show {
  display: block;
}

.align-items-start {
  align-items: flex-start;
}

.search-container {
  border-radius: 30px;
  padding: 9px 20px;
  box-shadow: inset 2px 2px 5px 0 rgba(153, 131, 176, 0.2),
    0 4px 4px 0 rgba(153, 131, 176, 0.2);
  background: var(--bg-fade-pink);
  display: flex;
  gap: 0.7rem;
}

.bg-dark .search-container {
  width: 100%;
}
.popup-container {
  padding: 4rem;
  display: flex;
  background: #f5f1f8;
}

.search-container input {
  background-color: transparent;
  border: transparent;
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

input:focus-visible {
  outline: transparent;
}

.container-users {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: space-between;
}
