.sm-card {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 4px 14px -1px rgba(115, 77, 196, 0.2);
  width: 320px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.5s ease;
}

.image-author {
  width: 75px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

@media screen and (max-width: 1000px) {
  .image-author {
    width: 60px;
    height: 77px;
  }
}
