.sm-card {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 4px 14px -1px rgba(115, 77, 196, 0.2);
  width: fit-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.5s ease;
}

.image-author {
  width: 80px;
  height: 100px;
  background-size: cover;
  border-radius: 12px;
}
