.main {
  min-height: 80vh;
  padding: 8rem 11rem 5rem 11rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.hero-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.book-card {
  box-shadow: 0 5px 20px 0 rgba(153, 131, 176, 0.2);
  background: var(--white);
  border-radius: 8px;
  padding: 12px;
  transition: transform 0.3s ease-in-out;
  gap: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 226px;
  margin-bottom: 24px;
  height: 410px;
}

.book-card-img {
  display: flex;
  border-radius: 8px;
  min-width: 200px;
  height: 319px;
  position: relative;
  object-fit: cover;
}

.container-texts-card {
  width: 100%;
  text-align: center;
}

.container-books {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 4rem;
}

.plus-icon {
  position: relative;
  top: -3rem;
  width: 50px;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f4fc;
  color: var(--black);
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.custom-select::after {
  content: ".....";
  background-image: url("../../assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: transparent;
}

#btn-mix {
  width: fit-content;
  padding: 0.4rem 3rem;
  margin-top: 2rem;
}

.loader-2 {
  width: calc(80px / cos(45deg));
  height: 14px;
  background: repeating-linear-gradient(-45deg, #fa8fd5 0 15px, #0000 0 20px)
    left/200% 100%;
  animation: l3 2s infinite linear;
  visibility: hidden;
}

.container-resault {
  display: none;
}

.category {
  background: rgba(180, 160, 200, 0.19);
  color: #9881b0;
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 1rem;
  transition: all 0.4s ease;
}

@keyframes l3 {
  100% {
    background-position: right;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 6rem 3rem 1rem 3rem;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 6rem 1rem 1rem 1rem;
  }
  .book-card {
    width: 140px;
    height: fit-content;
  }
  .container-books {
    gap: 2rem;
  }
  .input-box-sqr {
    font-size: 0.7rem;
    min-height: 2rem;
  }

  .book-card-img {
    min-width: 100%;
    height: 100%;
  }
  .plus-icon {
    width: 1.3rem;
  }
}
