.bg-dark {
  height: 100vh;
  width: 100vw;
  background-color: rgba(28, 9, 35, 0.469);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.popup-container {
  background-color: var(--bg-fade-pink);
  padding: 4rem 8rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bg-dark.open {
  display: flex;
}

#popup-login.open,
#popup-filters.open,
#popup-friends.open,
#popup-book-info.open,
#popup-book-sale.open {
  display: flex;
}

/* popup filters */

.container-bot-border {
  border-bottom: 1px solid rgba(153, 131, 176, 0.41);
  padding: 10px 0px;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  max-height: 9rem;
  overflow-y: scroll;
}

.wrapper-title-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 0.4rem 1px;
}

.bg-dark .search-container {
  width: 150px;
  height: 100%;
  padding: 7px 13px;
}
.select-btn {
  align-self: flex-end;
}

.opt {
  gap: 10px;
  display: flex;
  align-items: center;
}

.opt img {
  width: 18px;
}

.container-options {
  margin-right: 20px;
}

.sqr-purple-btn {
  box-shadow: inset 2px 4px 8px 0 rgba(255, 255, 255, 0.3),
    2px 3px 4px 0 rgba(153, 131, 176, 0.2);
  background: var(--bg-fade-pink);
  color: #7a6392;
  border: 1px solid rgba(153, 131, 176, 0.29);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.sqr-purple-btn.selected {
  background: var(--purple);
  color: white;
}

.book-cover {
  border-radius: 8px;
  height: 300px;
  width: 200px;
}

.popup-flex-row {
  display: flex;
  flex-direction: row;
  padding: 4rem;
}

.card-popup {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.bg-white {
  background-color: var(--white) !important;
}

.send-offer-btn {
  width: fit-content;
  padding: 10px 40px;
}

@media screen and (max-width: 760px) {
  .popup-flex-row {
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }

  .bg-dark {
    padding: 1rem;
  }
  .send-offer-btn {
    align-self: center;
  }
}
