.bg-dark {
  height: 100vh;
  width: 100vw;
  background-color: rgba(28, 9, 35, 0.469);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.popup-container {
  background-color: var(--white);
  padding: 4rem 8rem;
  border-radius: 1rem;
  position: relative;
  display: none;
  flex-direction: column;
}

.bg-dark.open {
  display: flex;
}

#popup-login.open,
#popup-filters.open,
#popup-friends.open,
#popup-book-info.open,
#popup-author.open,
#popup-book-sale.open,
#popup-on-cart.open,
#popup-payment.open,
#popup-text.open,
#popup-users.open,
#popup-create-user.open {
  display: flex;
}

#popup-login,
#popup-on-cart,
#popup-texts {
  padding: 4rem 7rem;
}

#popup-users {
  padding: 4rem 6rem;
  background-color: var(--white);
}

#popup-login .btn {
  padding: 0.7rem 3rem;
}

#popup-create-user .btn {
  width: fit-content;
  align-self: center;
}

#popup-create-user {
  justify-content: center;
  text-align: center;
}

#popup-author {
  width: 70vw;
}

#popup-author a,
#popup-on-cart a,
#popup-payment a {
  text-decoration: underline;
}

.justify-content-space {
  justify-content: space-between;
}

.author-image {
  border-radius: 8px;
  width: 232px;
  object-fit: cover;
  height: auto;
}

.input-error {
  color: red;
  background-color: rgba(232, 108, 108, 0.279);
}

/* popup filters */

.container-bot-border {
  border-bottom: 1px solid rgba(153, 131, 176, 0.41);
  padding: 10px 0px;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  max-height: 9rem;
  overflow-y: scroll;
}

.wrapper-title-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0.4rem 1px;
}

.bg-dark .search-container {
  width: 300px;
  height: 100%;
  padding: 7px 13px;
}
.select-btn {
  align-self: flex-end;
}

.opt {
  gap: 10px;
  display: flex;
  align-items: center;
}

.opt img {
  width: 18px;
}

.container-options {
  margin-right: 20px;
}

.sqr-purple-btn {
  box-shadow: inset 2px 4px 8px 0 rgba(255, 255, 255, 0.3),
    2px 3px 4px 0 rgba(153, 131, 176, 0.2);
  background: var(--bg-fade-pink);
  color: #7a6392;
  border: 1px solid rgba(153, 131, 176, 0.29);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.sqr-purple-btn.selected {
  background: var(--purple);
  color: white;
}

.sqr-purple-btn.mark {
  background-color: pink;
  filter: drop-shadow(0px 0px 9px pink);
}

.book-cover {
  border-radius: 8px;
  height: 300px;
  width: 200px;
}

.popup-flex-row {
  display: flex;
  flex-direction: row;
  padding: 4rem;
}

.card-popup {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  max-width: 245px;
}

.bg-white {
  background-color: var(--white) !important;
}

#send-offer-btn {
  width: fit-content;
  padding: 10px 40px;
  opacity: 20%;
}

#send-offer-btn.available {
  opacity: 100%;
}

.btns-space {
  justify-content: space-between;
}

.btn-grey-stroke {
  width: fit-content;
}

.container-users {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 20rem;
  width: 100%;
}

.user-wrapper {
  display: flex;
  gap: 0.4rem;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  background-color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 8px;
}

.user-wrapper:hover {
  transform: scale(1.05);
}

.user-profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 30px;
}

.form-login {
  width: 40vw;
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
}

.review-container {
  padding-top: 1rem;
}

.limit-text {
  max-height: 300px;
  overflow: auto;
}

@media screen and (max-width: 760px) {
  .popup-flex-row {
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }

  #popup-login {
    width: 90vw;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg-dark {
    padding: 1rem;
  }

  #send-offer-btn {
    align-self: center;
  }

  .author-image {
    width: 150px;
  }

  #popup-author {
    padding: 4rem 2rem;
    width: 90vw;
  }

  #popup-filters {
    width: 90vw;
    height: 90vh;
    max-height: 96vh;
    overflow-y: auto;
  }

  .container-bot-border {
    min-height: 50px;
    margin-bottom: 0;
  }

  #popup-filters .container-bot-border {
    max-height: fit-content;
    overflow: hidden;
  }

  .mobile-col {
    flex-direction: column;
    gap: 0.3rem;
  }

  .btns-space {
    padding-top: 1rem;
  }

  .wrapper-title-filter {
    gap: 1rem;
  }
  .bg-dark .search-container {
    max-width: 165px;
  }

  #popup-login,
  #popup-on-cart,
  #popup-text,
  #popup-users,
  #popup-create-user,
  #popup-book-sale {
    padding: 4rem 1.5rem;
    width: 100%;
    max-height: 97%;
  }
  #popup-book-sale {
    overflow: auto;
  }
  #popup-users .search-container {
    max-width: 100%;
  }

  .form-login {
    width: 90%;
  }
}
