.main {
  display: flex;
  position: relative;
  width: 100%;
}

.hero-connect {
  display: flex;
  height: 86vh;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  gap: 2rem;
  overflow: hidden;
}

.huge-text.center-text {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 22rem;
  align-items: center;
}

::placeholder {
  color: var(--purple-fade);
  font-size: 14px;
}

input:focus-visible {
  outline: 2px solid #b7b8f8;
}

.left-side {
  padding-top: 14vh;
  gap: 5rem;
  width: 100%;
}

.img-hero {
  width: 70%;
  object-fit: cover;
  border-radius: 16px;
}

#login-btn {
  width: fit-content;
  padding: 0.6rem 2rem;
  font-weight: 500;
  margin-top: 5rem;
}

.title-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .img-hero {
    display: none;
  }
  form {
    width: 100%;
  }
  .left-side .sm-text {
    font-size: 0.875rem;
  }
}
