body {
    cursor: url('../assets/images/cursor.svg'), auto;
}

* {
    cursor: inherit;
}


/* only for the home page - custom cursor */
.logo-nav {
    cursor: url('../assets/images/cursor.svg'), auto !important;
}
.cart-icon {
    cursor: url('../assets/images/cursor.svg'), auto !important;
}
.navbar-desktop p {
    cursor: url('../assets/images/cursor.svg'), auto !important;
}
.btn.btn-gradient {
    cursor: url('../assets/images/cursor.svg'), auto !important;
}
