/* definitions of our   fonts | sizes | colors    */

/* Regular */
@font-face {
  font-family: "Chillax";
  src: url("../assets/fonts/"); /* IE9 Compat Modes */
  src: url("../assets/fonts/?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Chillax-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/Chillax-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Chillax-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Chillax";
  src: url("../assets/fonts/"); /* IE9 Compat Modes */
  src: url("../assets/fonts/?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Chillax-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/Chillax-Medium.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Chillax-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

/* Semibold */
@font-face {
  font-family: "Chillax";
  src: url("../assets/fonts/Chillax-Semibold.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Chillax-Semibold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Chillax-Semibold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/Chillax-Semibold.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Chillax-Semibold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}

:root {
  --bg-light-purple: #fbfafc;
  --light-pink: #f4c5df;
  --pink: #dd47c2;
  --black: #0e0b11;
  --purple: #641bff;
  --barbi-pink: #f764cc;
  --purple-fade: #9983b0;
  --bg-fade-pink: #f4f0f8;
  --white: #f7f7f7;
  --grey: #9e9b9b;
  --grey-light: #b7b7b76b;
  --gradient-180: linear-gradient(
    180deg,
    rgba(244, 197, 223, 1) 0%,
    rgba(221, 71, 194, 1) 61%,
    rgba(153, 46, 228, 1) 100%
  );
  --gradient-90: linear-gradient(
    90deg,
    rgba(244, 197, 223, 1) 0%,
    rgba(221, 71, 194, 1) 61%,
    rgba(153, 46, 228, 1) 100%
  );
  --gradient-full-90: linear-gradient(
    90deg,
    rgba(244, 197, 223, 1) 0%,
    rgba(221, 71, 194, 1) 14%,
    rgba(153, 46, 228, 1) 75%,
    rgb(14, 11, 17) 100%
  );

  --font-family: "Chillax", sans-serif;
}

/* Colors */

.brabi-pink-text {
  color: var(--barbi-pink);
}

.white-text {
  color: var(--white);
}

.pink-text {
  color: var(--pink);
}

.black-text {
  color: var(--black);
}

.purple-text {
  color: var(--purple);
}
.purple-fade {
  color: var(--purple-fade);
}

.light-pink-text {
  color: var(--light-pink);
}

.grey-text {
  color: var(--grey);
}

.bg-light-purple {
  background-color: var(--bg-light-purple);
}

.bg-fade-pink {
  background-color: var(--bg-fade-pink);
}

.gradient-text {
  background: linear-gradient(90deg, #d87eaf 0%, #dd47c2 40%, #641bff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* texts */

.xxsm-text {
  font-size: 0.625rem; /* 10px */
}

.xsm-text {
  font-size: 0.75rem; /* 12px */
}

.sm-text {
  font-size: 0.876rem; /* 14px */
}

.md-text {
  font-size: 1rem; /* 16px */
}

.l-text {
  font-size: 1.125rem; /* 18px */
}

.xl-text {
  font-size: 1.25rem; /* 20px */
}

.xxl-text {
  font-size: 1.5rem; /* 24px */
}

.big-text {
  font-size: 2rem; /* 32px */
}

.huge-text {
  font-size: 4rem; /* 64px */
}

.bold {
  font-weight: 600;
}

.font-reg {
  font-weight: 400;
}

.font-med {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  /* texts */

  .xxsm-text {
    font-size: 0.6rem;
  }

  .xsm-text {
    font-size: 0.7rem;
  }

  .sm-text {
    font-size: 0.84rem;
  }

  .md-text {
    font-size: 0.875rem;
  }

  .l-text {
    font-size: 1rem;
  }

  .xl-text {
    font-size: 1rem;
  }

  .xxl-text {
    font-size: 1.2rem;
  }

  .huge-text {
    font-size: 3rem;
  }

  .big-text {
    font-size: 1.7rem;
  }
}
