/* definitions of our   fonts | sizes | colors    */


/* Medium */
@font-face {
  font-family: 'Chillax';
  src: url('../assets/fonts/'); /* IE9 Compat Modes */
  src: url('../assets/fonts/?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Chillax-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Chillax-Medium.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Chillax-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

/* Semibold */
@font-face {
  font-family: 'Chillax';
  src: url('../assets/fonts/Chillax-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Chillax-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/Chillax-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/Chillax-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/Chillax-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}

:root {
	--bg-light-purple: #fbfafc;
	--light-pink: #f4c5df;
	--pink: #dd47c2;
	--black: #0e0b11;
	--purple: #641bff;
	--barbi-pink: #f764cc;
	--purple-text: #9983b0;
	--bg-fade-pink: #f4f0f8;
  --white: #f7f7f7;
  
  --font-family: "Chillax", sans-serif;
}

/* Colors */

.text-black {
  color: var(--black);
}

.text-purple {
  color: var(--purple-dark);
}

.text-purple-medium {
  color: var(--purple-medium);
}

.text-purple-light {
  color: var(--purple-light);
}

.text-white {
  color: var(--white);
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--green);
}

/* texts */
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1.5rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 3.125rem;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 3.125rem;
}

.text-8xl {
  font-size: 6rem;
  line-height: 5rem;
}

.text-9xl {
  font-size: 8rem;
  line-height: 6.25rem;
}
