@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --black: #14061f;
  --white: #f7f7f7;
  --purple-dark: #251150;
  --purple-medium: #8c64ff;
  --purple-light: #cebefd;

  --green: #64f083;
  --red: #e66c6c;
}

/* Colors */

.text-black {
  color: var(--black);
}

.text-purple {
  color: var(--purple-dark);
}

.text-purple-medium {
  color: var(--purple-medium);
}

.text-purple-light {
  color: var(--purple-light);
}

.text-white {
  color: var(--white);
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--green);
}

/* texts */
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1.5rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 3.125rem;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 3.125rem;
}

.text-8xl {
  font-size: 6rem;
  line-height: 5rem;
}

.text-9xl {
  font-size: 8rem;
  line-height: 6.25rem;
}
